## Toronto Crime Data Exploration

#### Import packages

In [1]:
import pandas as pd

#### Read data

In [2]:
df = pd.read_csv("D:\My Projects\MCI_2014_to_2019.csv")
df.head()

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,occurrenceday,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Lat,Long,ObjectId
0,-8840548.681,5431712.281,201,GO-20141301077,2014/01/07 05:00:00+00,2014/01/07 05:00:00+00,Other,1420,100,Assault With Weapon,...,7.0,7.0,Tuesday,22,Assault,D32,36,43.781639,-79.416,1
1,-8840548.681,5431712.281,202,GO-20141301077,2014/01/07 05:00:00+00,2014/01/07 05:00:00+00,Other,1420,100,Assault With Weapon,...,7.0,7.0,Tuesday,22,Assault,D32,36,43.781639,-79.416,2
2,-8840548.681,5431712.281,203,GO-20141301077,2014/01/07 05:00:00+00,2014/01/07 05:00:00+00,Other,1420,100,Assault With Weapon,...,7.0,7.0,Tuesday,22,Assault,D32,36,43.781639,-79.416,3
3,-8840548.681,5431712.281,204,GO-20141301077,2014/01/07 05:00:00+00,2014/01/07 05:00:00+00,Other,1420,100,Assault With Weapon,...,7.0,7.0,Tuesday,22,Assault,D32,36,43.781639,-79.416,4
4,-8839880.764,5413805.692,205,GO-20141300854,2014/01/07 05:00:00+00,2014/01/07 05:00:00+00,Commercial,2120,200,B&E,...,7.0,7.0,Tuesday,21,Break and Enter,D14,79,43.665390,-79.410,5

#### Dropping useless columns

In [3]:
df = df.drop(['X', 'Y'], axis = 1)

These two columns, 'X' and 'Y', provide no information, so they should be deleted to save space.

#### Checking for empty values

In [4]:
df.isnull().sum()

Index_                  0
event_unique_id         0
occurrencedate          0
reporteddate            0
premisetype             0
ucr_code                0
ucr_ext                 0
offence                 0
reportedyear            0
reportedmonth           0
reportedday             0
reporteddayofyear       0
reporteddayofweek       0
reportedhour            0
occurrenceyear         59
occurrencemonth        59
occurrenceday          59
occurrencedayofyear    59
occurrencedayofweek    59
occurrencehour          0
MCI                     0
Division                0
Hood_ID                 0
Lat                     0
Long                    0
ObjectId                0
dtype: int64

There are empty values in columns "occurrencemonth", "occurrenceday", "occurrencedayofyear" and "occurrencedayofweek", and each column has 59 empty values. This is weird because these four columns are splitted from the column "occurrencedate". Since "occurrencedate" doesn't contain null rows, it is questionale why these four columns are empty. Thus, let's return the rows with nulls and try out find out what's going on.

In [5]:
df[df.isnull().any(axis = 1)].head()

,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,reportedyear,reportedmonth,...,occurrenceday,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Lat,Long,ObjectId
3515,3595,GO-20151296484,1973/08/31 04:00:00+00,2015/07/22 04:00:00+00,House,1420,110,Assault Bodily Harm,2015,July,...,NaN,NaN,NaN,16,Assault,D11,88,43.656334,-79.468,3516
3516,3596,GO-20151296484,1973/08/31 04:00:00+00,2015/07/22 04:00:00+00,House,1420,100,Assault With Weapon,2015,July,...,NaN,NaN,NaN,16,Assault,D11,88,43.656334,-79.468,3517
4276,4621,GO-20151059022,1998/01/01 05:00:00+00,2015/06/23 04:00:00+00,House,1430,100,Assault,2015,June,...,NaN,NaN,NaN,0,Assault,D31,22,43.748486,-79.550,4277
4365,4319,GO-20143453650,1996/01/01 05:00:00+00,2014/12/09 05:00:00+00,Other,1420,100,Assault With Weapon,2014,December,...,NaN,NaN,NaN,16,Assault,D43,127,43.772144,-79.251,4366
4944,4145,GO-20143243089,1995/01/01 05:00:00+00,2014/10/15 04:00:00+00,House,1430,100,Assault,2014,October,...,NaN,NaN,NaN,0,Assault,D31,23,43.720001,-79.533,4945

It appears that these rows have occurrence date prior to 2014, in other words, they are out of range and that's why they have null values.

In [6]:
df1 = df.dropna()

#### Dropping duplicates
Before checking for duplicates, we need to drop two columns since they are unique and represent indexes. If they are present, it will be impossible to check for duplicates.

In [8]:
df1 = df.drop(['Index_', 'ObjectId'], axis = 1)

In [9]:
df1[df1.duplicated('event_unique_id')].head(3)

,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,reportedyear,reportedmonth,reportedday,...,occurrencemonth,occurrenceday,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Lat,Long
1,GO-20141301077,2014/01/07 05:00:00+00,2014/01/07 05:00:00+00,Other,1420,100,Assault With Weapon,2014,January,7,...,January,7.0,7.0,Tuesday,22,Assault,D32,36,43.781639,-79.416
2,GO-20141301077,2014/01/07 05:00:00+00,2014/01/07 05:00:00+00,Other,1420,100,Assault With Weapon,2014,January,7,...,January,7.0,7.0,Tuesday,22,Assault,D32,36,43.781639,-79.416
3,GO-20141301077,2014/01/07 05:00:00+00,2014/01/07 05:00:00+00,Other,1420,100,Assault With Weapon,2014,January,7,...,January,7.0,7.0,Tuesday,22,Assault,D32,36,43.781639,-79.416

In [10]:
df1 = df1.drop_duplicates(subset=["event_unique_id"], keep='last')

#### Filter out unwanted columns
As what we saw above earlier, there are multiple instances where the crime took place before 2014 and they are considered out of range, we need to double check and make sure that the rest of data contains no such record.

In [11]:
df1['reporteddate'] = df1['reporteddate'].str[0:19]
df1['occurrencedate'] = df1['occurrencedate'].str[0:19]

df1['occurrencedate'] =  pd.to_datetime(df1['occurrencedate'])
df1['reporteddate'] =  pd.to_datetime(df1['reporteddate'])

In [21]:
df1 = df1[df1['occurrencedate'] >= "2014-01-01" ]

,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,reportedyear,reportedmonth,reportedday,...,occurrencemonth,occurrenceday,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Lat,Long
4,GO-20141300854,2014-01-07 05:00:00,2014-01-07 05:00:00,Commercial,2120,200,B&E,2014,January,7,...,January,7.0,7.0,Tuesday,21,Break and Enter,D14,79,43.665390,-79.410
5,GO-20141310106,2014-01-09 05:00:00,2014-01-09 05:00:00,Apartment,2120,200,B&E,2014,January,9,...,January,9.0,9.0,Thursday,11,Break and Enter,D22,14,43.646061,-79.531
6,GO-20141351494,2014-01-16 05:00:00,2014-01-16 05:00:00,Apartment,1430,100,Assault,2014,January,16,...,January,16.0,16.0,Thursday,0,Assault,D11,90,43.663498,-79.462
7,GO-20141351916,2014-01-16 05:00:00,2014-01-16 05:00:00,Commercial,1430,100,Assault,2014,January,16,...,January,16.0,16.0,Thursday,2,Assault,D52,76,43.657040,-79.381
8,GO-20141356006,2014-01-16 05:00:00,2014-01-16 05:00:00,Apartment,2120,200,B&E,2014,January,16,...,January,16.0,16.0,Thursday,17,Break and Enter,D43,139,43.744343,-79.214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206430,GO-20191554251,2019-08-13 04:00:00,2019-08-16 04:00:00,Outside,2135,210,Theft Of Motor Vehicle,2019,August,16,...,August,13.0,225.0,Tuesday,17,Auto Theft,D31,21,43.750652,-79.549
206431,GO-20191535011,2019-08-13 04:00:00,2019-08-13 04:00:00,Commercial,2135,210,Theft Of Motor Vehicle,2019,August,13,...,August,13.0,225.0,Tuesday,14,Auto Theft,D12,111,43.683521,-79.481
206432,GO-20191534561,2019-08-13 04:00:00,2019-08-13 04:00:00,Outside,2135,210,Theft Of Motor Vehicle,2019,August,13,...,August,13.0,225.0,Tuesday,13,Auto Theft,D31,21,43.758480,-79.571
206433,GO-20191536931,2019-08-13 04:00:00,2019-08-13 04:00:00,Outside,2135,210,Theft Of Motor Vehicle,2019,August,13,...,August,13.0,225.0,Tuesday,11,Auto Theft,D12,111,43.675377,-79.506
206434,GO-20191539696,2019-08-13 04:00:00,2019-08-14 04:00:00,House,2135,210,Theft Of Motor Vehicle,2019,August,14,...,August,13.0,225.0,Tuesday,22,Auto Theft,D12,29,43.718124,-79.492

#### Saving cleaned file
We will save the dataset without nulls in another file named "MCI_14_19_cleaned" for later uses.

In [22]:
df1.to_csv (r'D:\My Projects\MCI_14_19_cleaned.csv', index = False, header=True)